<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CarSharing</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  <security-role>
    <description></description>
    <role-name>admin</role-name> <!--관리자 아이디/servers패키지의 tomcat-users.xml에서 아이디 설정 후 여기도 동일 설정-->
  </security-role>
  <security-constraint>
    <display-name>CarSharing</display-name>
    <web-resource-collection>
      <web-resource-name>CarSharing</web-resource-name>
      <url-pattern>추후 관리자아이디로 접근할 view페이지1</url-pattern>
      <url-pattern>추후 관리자아이디로 접근할 view페이지2</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>권한 관리자명</description>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login_failed.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <error-page>
    <error-code>404</error-code>
    <location>/exceptionNoPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/exceptionServerErrorPage.jsp</location>
  </error-page>
  <filter>
    <filter-name>LogFileFilter</filter-name>
    <filter-class>filter.LogFileFilter</filter-class>
    <init-param>
      <param-name>filename</param-name>
      <param-value>c:\\logs\\CarSharing.log</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LogFileFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>CarSharing</servlet-name>
    <servlet-class>controller.MainController</servlet-class>
    <init-param>
       <param-name>CarSharingConfigFile</param-name>
       <param-value>
       /WEB-INF/commandCarSharing.properties
       </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup> 
   </servlet>
  <servlet-mapping>
    <servlet-name>CarSharing</servlet-name>
    <url-pattern>*.car</url-pattern>
  </servlet-mapping>
  
</web-app>